<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="datable">
        <thead>
            <tr>
                <th>Country</th>
                <th>Active</th>
                <th>Cases</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let covid of Covid">
                <td>{{covid.country}}</td>
                <td>{{covid.active}}</td>
                <td>{{covid.cases}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
